<div class="div">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a
        class="navbar-brand text-danger"
        routerLink="feature-modules/client-side/home"
      >
        <h2>KOT System</h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/home'"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/about-us'"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/menu'"
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/order'"
              >Order</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/today-special'"
              >Todays Special</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/contact-us'"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'feature-modules/client-side/menu'"
              >Menu</a
            >
          </li>
        </ul>
      </div>
      <div class="social-part">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div>
