<table class="table">
  <thead>
    <tr>
      <th scope="col">sn</th>
      <th scope="col">Table no</th>
      <th scope="col">Food Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderResponse; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ order.tabledNo }}</td>
      <td>{{ order.orderName }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.createDteTime }}</td>
    </tr>
  </tbody>
</table>
