<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p class="float-start">Add New Menu</p>
    </div>
  </div>
  <hr />

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="menuForm">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group p-2">
                  <input
                    type="text"
                    formControlName="foodMenu"
                    name="foodMenu"
                    id="foodMenu"
                    class="form-control"
                    placeholder="Enetr the name of Menu"
                    required
                    style="
                      border: none;
                      box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
                      height: 50px;
                    "
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['foodMenu'].dirty ||
                      (forms['foodMenu'].touched && forms['foodMenu'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['foodMenu'].errors && 
                                    forms['foodMenu'].errors?.['required']"
                    >
                      *Menu is required !
                    </small>
                    <small *ngIf="forms['foodMenu'].errors?.['minlength']">
                      *Menu must have atleast 3 characters !
                    </small>
                    <small *ngIf="forms['foodMenu'].errors?.['maxlength']">
                      *Your foodMenu should not be more than 20 chracters !
                    </small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button
                  class="btn btn-outline-primary float-right"
                  (click)="onAddMenu(menuForm.value)"
                >
                  Add Menu
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
