<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p class="float-start">Add  New Menu</p>
    </div>
  </div>
  <hr />

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="menuForm">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Menu</label>
                <input
                  type="text"
                  formControlName="menu"
                  menu="menu"
                  id="menu"
                  class="form-control"
                  placeholder="Enter the new menu"
                  required
                />
                <span
                  *ngIf="
                    submitted ||
                    forms['menu'].dirty ||
                    (forms['menu'].touched && forms['menu'].invalid)
                  "
                  class="info-msg text-danger"
                >
                  <small
                    *ngIf="forms['menu'].errors && 
                                                              forms['menu'].errors?.['required']"
                  >
                    Food menu is required !
                  </small>
                  <small *ngIf="forms['menu'].errors?.['minlength']">
                    Food menu must have atleast 3 characters !
                  </small>

                  <small *ngIf="forms['menu'].errors?.['maxlength']">
                    Food menus hould not be more than 15 characters !
                  </small>
                </span>
              </div>
            </div>

      

            <div class="row">
              <div class="col-sm-12">
                <button
                  class="btn btn-outline-primary float-right"
                  (click)="onAddMenu(menuForm.value)"
                >
                  Add Menu
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
