<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h2 style="color: #0b0206">Our Menu</h2>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success float-end" routerLink="add-menu">
        Add New Menu
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-2">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <!-- <th>S.N</th>
                        <th>MenuId</th> -->
            <!-- <th>MenuName</th> -->
          </tr>
        </thead>
        <tbody style="background-color: #e8c7d7">
          <tr *ngFor="let data of menuResponse; let i = index">
            <!-- <td>{{ i + 1 }}</td> -->
            <!-- <td>{{ data.menuId }}</td> -->
            <td>
              <button
                class="btn btn-success float-end"
                routerLink="add-menu"
                style="width: 175px; background-color: #9e406e"
              >
                {{ data.foodMenu }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-success float-end" routerLink="submenu">
        Our Menu
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-success float-end" routerLink="edit-menu">
        Edit Menu
      </button>
    </div>
  </div>
</div>
