<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="float-start">Add New Submenu</p>
    </div>
  </div>
  <hr />

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="submenuForm">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label>Submenu Name</label>
                  <input
                    type="text"
                    formControlName="submenuName"
                    name="submenuName"
                    id="submenuName"
                    class="form-control"
                    placeholder="Food Name"
                    required
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['submenuName'].dirty ||
                      (forms['submenuName'].touched &&
                        forms['submenuName'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['submenuName'].errors && 
                                                              forms['submenuName'].errors?.['required']"
                    >
                      Food submenuName is required !
                    </small>
                    <small *ngIf="forms['submenuName'].errors?.['minlength']">
                      Food submenuName must have atleast 3 characters !
                    </small>

                    <small *ngIf="forms['submenuName'].errors?.['maxlength']">
                      Food submenuName should not be more than 15 characters !
                    </small>
                  </span>
                </div>
              </div>

              <div class="col-sm-8">
                <div class="form-group">
                  <label>Price</label>
                  <input
                    type="number"
                    formControlName="price"
                    id="price"
                    class="form-control"
                    placeholder="Enter Price"
                  />
                  <span
                    *ngIf="
                      submitted ||
                      forms['price'].dirty ||
                      (forms['price'].touched && forms['price'].invalid)
                    "
                    class="info-msg text-danger"
                  >
                    <small
                      *ngIf="forms['price'].errors && 
                        forms['price'].errors?.['required']"
                    >
                      Price is required !
                    </small>
                    <small *ngIf="forms['price'].errors?.['minlength']">
                      Price must have atleast 2 digit !
                    </small>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="d-grid col-2 p-3">
                <button
                  type="button"
                  class="mt-4 p-2 col-sm-8 btn btn-info"
                  (click)="onAddSubmenu(submenuForm.value)"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
